.mainContent {
  max-width: 640px;
  margin: 0 auto;
}
.mainContent .main {
  color: #fff;
}
.mainContent .home {
  padding: 0px 16px;
}
.mainContent .home .card {
  margin-bottom: 50px;
  border-radius: 15px;
  padding: 15px;
  background: rgba(237, 237, 237, 0.05);
}
.mainContent .home .card .card-box {
  border-radius: 10px;
  margin: 0px 0px 10px 0px;
  text-align: center;
}
.mainContent .home .card .card-box img {
  width: 30px;
  height: 30px;
}
.mainContent .home .card .card-box p {
  line-height: 30px;
  color: #F2FA5A;
  font-size: 16px;
  font-weight: 400;
  margin-left: 15px;
}
.mainContent .home .card .box {
  display: flex;
}
.mainContent .home .card .box .boxitem {
  flex: 1;
}
.texthight {
  line-height: 38px;
}
.textcenter {
  text-align: center;
}
.card-shadow-origin {
  box-shadow: 15px 15px 0px 0px #fbbf2d;
}
.text-origin {
  color: #F2FA5A;
}
.ant-rate-star-zero {
  color: #fff;
}
.btn span {
  color: #000;
  background-color: #F2FA5A;
  padding: 8px 30px;
  border-radius: 30px;
  font-weight: bold;
}
.btned span {
  color: #000;
  background-color: rgba(237, 237, 237, 0.5);
  padding: 8px 30px;
  border-radius: 30px;
  font-weight: bold;
}
.ant-modal-header {
  background-color: #000;
  border-bottom: none;
  border-radius: 10px;
}
.ant-modal-title {
  color: #fff;
  text-align: center;
}
.ant-modal-wrap {
  background: #19191f;
}
.ant-modal-close-x {
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-top: 12px;
  margin-right: 12px;
}
.ant-modal-content {
  color: #fff;
  border: 1px solid #fff;
  background-color: #000;
  border-radius: 10px;
}
.ipt {
  width: 100%;
  border: 1px solid #F2FA5A;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  line-height: 30px;
  font-size: 20px;
  border-radius: 5px;
  border-radius: 30px;
  margin-right: 20px;
  padding: 0px 20px;
  font-weight: 200;
}
.ant-modal-body {
  padding: 10px 24px 24px 24px;
}
